body {
  margin: 0;
  font-family: sans-serif;
}

#iridiscence {
  height: 100vh;
  width: 100vw;
}

.pink {
  background-color: pink;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

.red {
  background-color: #ff3333;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

.aqua {
  background-color: #83ffb8;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

.orange {
  background-color: #ffc383;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

.yellow {
  background-color: #faff83;
  -webkit-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

#accelPermsButton {
  position: fixed;
  top: 10px;
  left: 10px;
  background: none;
  border: 0;
}
